body {
    color: white;
}

.end-box {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 100px;
    text-align: center;
}

.end-title {
    font-size: 60px;
    text-transform: uppercase;
    color: rgb(216, 83, 83);
    text-shadow: 2px 2px rgba(100, 6, 6, 0.75);
}




.new-game-btn {
    text-decoration: none;
    color: white;
    background-color: rgb(132, 216, 125);
    max-width: 200px;
    margin: auto;
    padding: 40px;
    border: 4px solid rgb(85, 145, 110);
    border-radius: 10%;
    transition: .5s;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 150px;
}

.new-game-btn:hover {
    transform: scale(1.3);
}